*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-style: normal;
}
:root {
    --primary-yellow: #FFD100;
    --dark-black: #121212;
    --light-black: #1E1E1E;
    --gray-light: #F0F0F0;
 }

.mobile-nav{
    display: none;
}

html{
    scroll-behavior: smooth;
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    height: 100%;
    overflow-x: hidden;
}

body{
    background-color: var(--dark-black);
    color: #fff;
}

section{
    width: 100vh;
    padding: 40px 40px;
}

.intro{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 60px;
    min-height: 100vh;
    margin-top: 50px;
    background-color: var(--dark-black);
    width: 100%;
}

.intro-left{
    max-width: 600px;
}

.intro-left h1{
    font-weight: 600;
    font-size: 3.3rem;
    margin-bottom: 2px;
    line-height: 1.12;
}

.intro-left h3{
    margin-bottom: 4px;
    font-style: italic;
}

.intro-left p{
    font-size: 1.2rem;
    color: #d1d1d1;
    margin-bottom: 30px;
    line-height: 1.3;
    font-style: oblique;
}

.intro-right{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro button{
    border-radius: 30px;
    font-size: 1.4rem;
    border: none;
    text-align: center;
    height: 50px;
    padding: 9px;
    cursor: pointer;
    font-weight: 200;
    margin-top: 20px;
    transition: all 0.3s ease;
    a{
        color: inherit;
        text-decoration: none;
    }
}

.intro .contacts{
    background-color: yellow;
    margin-left: 13px;
    color: #000;
}

.intro .contacts:hover{
    box-shadow: 0px 8px 15px rgba(165, 235, 0, 0.3);
    transform: translateY(-2px);
}

.intro .project{
    background-color: transparent;
    border: 3px solid #fff;
    color: #fff;
}

/* .intro h1 span{
    display: block;
    margin-bottom: 3px;
} */

.yellow-span{
    color: yellow;
}

.code{
    border-radius: 50%;
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* cursor: crosshair; */
}

.code img{
    height: 300px;
    border-radius: 50%;
    display: block;
}

/* About section */

.about{
    background-color: var(--light-black);
    margin-top: 40px;
    /* padding: 60px; */
    width: 100%;
    /* height: 100vh; */
}

.underline{
    display: inline;
    background-image: linear-gradient(yellow,currentColor);
    background-size: 70% 1px;
    background-repeat: no-repeat;
    background-position: 0 100%;
    padding-bottom: 8px;
}

.about h1{
    display: inline;
    position:relative;
    font-size: 2.5rem;
    left: 50%;
    line-height: 1.2;
    gap: 30px;
    /* top: 60px; */
}

.about .table{
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}

.about .table-left{
    flex: 1;
    max-width: 400px;
    border-left: 10px solid var(--gray-light);
    border-radius: 13px;
    padding: 16px;
    line-height: 1.2;
    box-shadow: 2px 2px 20px 3px rgb(55, 25, 25);
}

.about .table-left p{
    font-weight: 100;
    color: #ddc6c6;
}

.about .table-left h2{
    font-weight: 700;
    font-size: 1.5rem;
}

.about .table-right{
    flex: 1;
    margin-left: 30px;
    border: 1px solid transparent;
    border-right: 10px solid var(--gray-light);
    border-radius: 15px;
    padding: 16px;
    line-height: 1.2;
    box-shadow: 2px 2px 20px 3px rgb(55, 25, 25);
}

.about .table-right h2{
    font-weight: 700;
    font-size: 1.5rem;
}

.about .table-right .school{
    margin-top: 14px;
    border: 2px solid yellow;
    border-radius: 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
}

.about .table-right .school div{
    background-color: yellowgreen;
    width: fit-content;
    border-radius: 20px;
    padding: 5px;
    position: relative;
    left: 370px;
}

.skills{
    /* background-color: var(--light-black); */
    margin-top: 0px;
    width: 100%;
}

.skills h1{
    display: inline;
    position:relative;
    font-size: 2.5rem;
    left: 50%;
    line-height: 1.2;
    gap: 30px;
}

.skills .overview{
    margin-top: 15px;
    margin-bottom: 30px;
    display: inline-block;
    text-align: center;
    text-indent: 50px;
}

.skill-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
    gap: 2rem;
    padding: 1rem;
}

.card{
    background: #1c1c1c;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0px 0px 5px #501d1d;
    width: 300px;
    height: 450px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover{
    transform: scale(1.05);
}

.icon {
    font-size: 32px;
    margin-bottom: 1rem;
    color: yellow;
}

.card img{
    transform: scale(0.2);
    position: relative;
}

.skill h2 {
    color: #fff;
    margin-bottom: 1rem;
    font-size: 1.4rem;
}

.skill {
    margin-bottom: 20px;
}

.skill span {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 0.1px;
}

.bar {
    height: 8px;
    background: #333;
    border-radius: 10px;
    overflow: hidden;
}

.fill {
    height: 100%;
    background: #FFD700;
    transition: width 2s ease;
}

 /* .percent{
   margin-left: 200px;
}  */

.projects{
    background-color: var(--light-black);
    width: 100%;
}

.projects .list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    gap: 2rem;
    column-gap: 0;
}

.projects .head{
    display: flex;
    place-self: center;
    place-content: center;
}

.projects h1{
    font-size: 2.5rem;
    line-height: 1.2;
    gap: 30px;
    max-width: 20.7rem;
    /* flex: 1; */
}

.projects .underline{
    display: inline;
    background-image: linear-gradient(yellow,yellow);
    background-size: 70% 1px;
    background-repeat: no-repeat;
    background-position: 0 100%;
    padding-bottom: 8px;
}

.project-card{
    background-color: var(--light-black);
    height: 450px;
    width: 300px;
    border: 3px solid transparent;
    border-radius: 15px;
    /* padding: 10px; */
    text-align: center;
    transition: all 0.5s;
}

.project-card:hover{
    border: 3px solid yellow;
    transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(255, 209, 0, 0.2);
}

.project-card-top{
    display:flex;
    justify-content:center;
    align-items: center;
    height: 40%;
    background-color: yellow;
    border-radius: 15px 15px 0 0;
}

.project-card-top i{
  font-size:50px;
}

.project-card-bottom{
    padding: 15px;
}

.project-card-bottom p{
    font-size: 1rem;
    text-align: start;
}

.projects .language{
    font-weight: 100;
    opacity: 0.5;
    margin-left: 0px;
    margin-right: 7px;
    font-weight: 500;
    text-align: start;
    font-size: 13px;
}

.projects .description{
    text-align: start;
}

.project-card h2{
    text-align: start;
    font-size:1.3rem ;
    font-weight: 600;
}

.subtext{
    display: flex;
    justify-content: space-around;
    margin-left: 0;
}

.projects .links{
    display: flex;
    justify-content: space-around;
        margin-top: 5px;

}

.projects .links a{
    color: yellow;
    text-decoration: none;
    font-size: 1.2rem;
    display: flex;
    gap: .4rem;
}

.projects .links a:hover{
    text-decoration: underline;
}

.projects .project-view{
    margin-top: 3rem;
    display: flex;
    flex: 2;
    place-items: center;
    place-content: center;
    width: 100%;
    height: 100%;

    button{
        display: flex;
        align-items: center;
        place-content: center;
        gap: 10px;
        font-size: 1.5rem;
        background-color: var(--primary-yellow);
        padding: 15px;
        border: none;
        border-radius: 35px;
        transition: all .3s;
        font-weight: bold;
        a{
            text-decoration: none;
            color: var(--dark-black);
            font-size: 1rem;
        }
    }
    button:hover{
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
        transform: translateY(-3px);
        background-color: #FFE03D;
    }
}

.contact{
    width: 100%;
    background-color: var(--dark-black);
}

.contact .head{
    display: flex;
    place-items: center;
    place-content: center;
    flex-direction: column;
    gap: 1rem;
    h1{
        font-size: 1.9rem;
    }
    margin-bottom: 30px;
}

.contact .table{
    width: 100%;
    display: flex;
    gap: 2rem;
    border-radius: 20px;
    flex-wrap: wrap;
}

.contact .tables{
    flex: 1;
    border-radius: 10px;
    color: var(--gray-light);
    display: flex;
    flex-direction: column;
    gap: 3rem;
    min-width: 300px;
}

.contact .table-left{
    width: 50%;
    max-height: 550px;
    background-color: var(--light-black);
    padding: 1.8rem;
    display: flex;
}

.info{
    display: flex;
    place-items: center;
    flex-direction: row;
    gap: 1rem;
    transition: all .3s;
}

.info:hover, .info a:hover{
    color: var(--primary-yellow);
    transform: translateY(-5px);
}

.info i{
    font-size: 27px;
    padding: 12px;
    border-radius: 50%;
    background-color: var(--primary-yellow);
}

.info-right{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    p{
        font-weight: 200;
    }
    a{
        font-weight: 700;
        text-decoration: none;
        color: var(--gray-light);
    }
}

.table-left .link-section{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    a{
        text-decoration: none;
        font-size: 30px;
        color: var(--primary-yellow);
        transition: all .3s;
    }
    a:hover{
        border-bottom: 3px solid var(--primary-yellow);
    }
}

.table-left .link-section .links{
    display: flex;
    gap: 1rem;
    justify-content: space-around;
    margin-top: 15px;
}

.contact .table-right{
    width: 50%;
    min-height: 500px;
    background-color: var(--light-black);
    padding: 1.8rem;
    display: flex;
    /* flex: 1; */
}

.contact form{
    /* padding: 20px; */
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* display: none; */
}

label{
    font-size: 1.1rem;
    font-weight: 100;
    width: 20ch;
}
form h1{
    font-size: 1.3rem;
    display: flex;
}
form input, textarea{
    height: 50px;
    border-radius: 10px;
    border: none;
    padding: 15px;
    color: var(--dark-black);
    background-color: var(--gray-light);
}

input:active{
    border: none;
    outline: 0;
}

.message{
    height: 150px;
}

.message-btn{
    height: 50px;
    border-radius: 24px;
    background-color: var(--primary-yellow);
    border: none;
    cursor: pointer;
    transition: all .3s;
    display: flex;
    flex-direction: row;
    place-content: center;
    gap: 20px;
    font-size: 1rem;
    place-items: center;
}

.message-btn:hover{
    transform: translateY(-3px);
    background-color: #FFE03D;
}